<div class="container" style="margin-top: 20px;">
  <h1>Leaderboard</h1>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">SIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Family</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Return</th>
            <th scope="col">Top Performer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>+25%</td>
            <td>Tesla (TSLA)</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>+5%</td>
            <td>Palantir (PLTR)</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Brandon</td>
            <td>-10%</td>
            <td>Amazon (AMZN)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>