<h1>Feed</h1>
<br>
<div class="d-block d-md-flex justify-content-between mt-4 mt-md-0">
  <div class="text-center mt-4 mt-md-0">
    <button class="btn btn-primary">Post</button>
    <button class="btn btn-outline-primary" style="margin-left: 10px;">Message</button>
  </div>
</div>
<div class="mt-4 py-2 border-top border-bottom">
  <ul class="nav profile-navbar">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <i class="mdi mdi-newspaper"></i>
        Feed
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-calendar"></i>
        Messages
      </a>
    </li>
  </ul>
</div>
<div class="profile-feed">
  <div class="d-flex align-items-start profile-feed-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile" class="img-sm rounded-circle">
    <div class="ml-4">
      <h6>
        SIA
        <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
      </h6>
      <p>
        Mason Beck is shorting Tesla at $600.
      </p>
      <p class="small text-muted mt-2 mb-0">
        <span>
          <i class="mdi mdi-star mr-1"></i>4
        </span>
        <span class="ml-2">
          <i class="mdi mdi-comment mr-1"></i>11
        </span>
        <span class="ml-2">
          <i class="mdi mdi-reply"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="d-flex align-items-start profile-feed-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile" class="img-sm rounded-circle">
    <div class="ml-4">
      <h6>
        SIA
        <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
      </h6>
      <img src="https://i.pinimg.com/originals/00/8c/39/008c39afb60151db46abc378e886f015.png" alt="sample" class="rounded mw-100">                            
      <p class="small text-muted mt-2 mb-0">
        <span>
          <i class="mdi mdi-star mr-1"></i>4
        </span>
        <span class="ml-2">
          <i class="mdi mdi-comment mr-1"></i>11
        </span>
        <span class="ml-2">
          <i class="mdi mdi-reply"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="d-flex align-items-start profile-feed-item">
    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="profile" class="img-sm rounded-circle">
    <div class="ml-4">
      <h6>
        My Friends
        <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
      </h6>
      <p>
        Dylan Silva just bought Tesla stock @$632.56!
      </p>
      <img src="src\assets\images\teslaLogo.jpg" alt="sample" class="rounded mw-100">                                                        
      <p class="small text-muted mt-2 mb-0">
        <span>
          <i class="mdi mdi-star mr-1"></i>4
        </span>
        <span class="ml-2">
          <i class="mdi mdi-comment mr-1"></i>11
        </span>
        <span class="ml-2">
          <i class="mdi mdi-reply"></i>
        </span>
      </p>
    </div>
  </div>
</div>
