<div class="container" style="margin-top: 20px;">
  <h1>Feed</h1>
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">SIA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Family</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <app-feed></app-feed>
        </div>
      </div>
</div>

